[submodule "opt/KiCadLibraries"]
	path = opt/KiCadLibraries
	url = https://github.com/benjiaomodular/KiCadLibraries.git
[submodule "opt/AudioJacks"]
	path = opt/AudioJacks
	url = https://github.com/clacktronics/AudioJacks.git
[submodule "opt/Type-C"]
	path = opt/Type-C.pretty
	url = https://github.com/ai03-2725/Type-C.pretty.git
