[submodule "opt/KiCadLibraries"]
	path = opt/KiCadLibraries
	url = https://github.com/benjiaomodular/KiCadLibraries.git
[submodule "opt/AudioJacks"]
	path = opt/AudioJacks
	url = https://github.com/clacktronics/AudioJacks.git
